[2016-05-30 15:21] flokosiol opened #1 "ImageMagick Support"
At the moment this plugins works only with GD Library. The next step should be to support ImageMagick as well …

[2016-05-31 09:26] medienbaecker opened #2 "Images being stretched"
Some image ratios seem to be stretched.

### Input images:

![test1](https://cloud.githubusercontent.com/assets/7975568/15669816/77d6969e-2722-11e6-9c94-b2fa40633e40.jpg)
2800 x 1300

![test2](https://cloud.githubusercontent.com/assets/7975568/15669815/77d4f3f2-2722-11e6-9ce4-498ad3f1891b.jpg)
1766 x 1300

![test3](https://cloud.githubusercontent.com/assets/7975568/15669818/77de95a6-2722-11e6-844f

[2016-05-31 12:30] medienbaecker commented on #2
Ok, I managed to find out what's wrong with the output images. The image height is correct, it's 650px in the example, but the actual height is the width: 1440px. I stretched the original image in Photoshop and the circle is exactly the same.

So it seems like the script always does the "square" cropping. Maybe it's this line: https://github.com/flokosiol/kirby-focus/blob/master/focus.php#L29

[2016-05-31 14:03] medienbaecker commented on #2
I downloaded a pure Kirby 2.3 Starterkit, installed the focus plugin and tested it locally and on my server. Same thing:

![bildschirmfoto 2016-05-31 um 16 01 54](https://cloud.githubusercontent.com/assets/7975568/15677100/0d0585f6-2749-11e6-9408-8cd7d5ebe7c0.png)

[2016-05-31 14:38] flokosiol commented on #2
I will have a look at this, thanks for reporting.
Did you implement the `focusCrop` method with one argument like this
[code]
or with two arguments like this
[code]

I guess I have to test some more edge cases (thumb height and/or width bigger than original, …)

[2016-05-31 14:45] medienbaecker commented on #2
I tried both. If I crop a 200x200 square by  `<?php echo $image->focusCrop(200); ?>` there's still stretching.

Can you please test the images I uploaded in the first post in your installation? Maybe it's something else. It stretches almost every image in my installations. If the image doesn't contain a circle or text it's not immediately noticeable.

[2016-05-31 16:17] flokosiol commented on #2
I think I found the problem, but I will do some more testing. If you can't wait for so long, you could you change this line …
https://github.com/flokosiol/kirby-focus/blob/master/focus.php#L132
[code]
… to this …
[code]

Regards,
Flo.

[2016-05-31 17:28] medienbaecker commented on #2
Wow, thank you for the fast solution! ❤️

[2016-05-31 17:28] #2 closed

[2016-06-01 08:26] flokosiol opened #4 "Focus ignored for square thumbs"

[2016-06-01 09:38] malvese opened #5 "Focus field missing using $php -S localhost:8000"
I tried kirby-focus on a fresh starterkit, and got this error when I tried to edit an image (at URL `/panel/pages/projects/project-b/file/mountains․jpg/edit`):

[code]

Looking at line 12, it seems the field path fails to register for some reason.

Also the previews are not generated when I set `c::set('thumbs.driver', 'focus');`

[2016-06-01 09:43] medienbaecker commented on #5
Could you try to rename the plugin folder from "kirby-focus" to just "focus"?

[2016-06-01 09:54] malvese commented on #5
Ha! Good point, thanks. No more error, but still no focus field when I edit image metadata. Cropping works though.

[2016-06-01 09:57] medienbaecker commented on #5
And you've added the field to the blueprint "files" section like that?

[code]

[2016-06-01 09:57] flokosiol commented on #5
Please check your blueprint settings. You need to add the field manually to your blueprint [like this](https://github.com/flokosiol/kirby-focus#2-blueprint).

[2016-06-01 09:59] malvese commented on #5
I copid/pasted from the documentation, here's my blueprint:
[code]

[2016-06-01 10:01] medienbaecker commented on #5
That looks correct. And the page you're editing actually uses this blueprint? I can't see anything else that could be the cause.

[2016-06-01 10:11] flokosiol commented on #5
What happens if you are adding other (Kirby default) fields to the files section of the blueprint? Do they appear as expected?

[code]

[2016-06-01 10:12] malvese commented on #5
Yes, if I use
[code]

I can see my test field, but not the `focus` field.

[2016-06-01 11:03] medienbaecker commented on #5
To record the preview GIF I downloaded a fresh starter kit myself and did the following things to install it:

1. Downloaded the **Kirby 2.3.0** starterkit
2. Put the `kirby-focus` folder in the `site/plugins` folder.
3. Renamed the folder to `focus`.
3. Added `c::set('thumbs.driver', 'focus');` to the `site/config/config.php` file.
4. Added the focus field to the `fields` section in all the relev

[2016-06-01 11:44] flokosiol commented on #5
btw: I added the (re)naming of the plugin folder to the readme.

[2016-06-01 14:16] malvese commented on #5
Thank you for your help! Update, with more oddities.
I reinstalled everything following @medienbaecker's steps.
* I initially used PHP's internal server (`$php -S localhost:8000`) and didn't see the `focus` field, as before.
* I tried with MAMP, now I see the field and can click on a point, but the focus point I set is not taken into account. The crop works but is always centered. I use:
[code]
Th

[2016-06-01 14:17] medienbaecker commented on #5
Alright, that's a step in the right direction.

You're cropping a square, this falsely ignores the focus point right now. See this issue: https://github.com/flokosiol/kirby-focus/issues/4

If you crop it to `<?php echo $image->focusCrop(400, 401); ?>` it should work.

[2016-06-01 14:29] malvese commented on #5
Dammit! Hadn't seen this issue.
It helps, now the crop indeed moves.

I noticed:
* It doesn't work with something like `400,300`.
I don't think this black strip on the left should be there?
![the-sea-400x300-5-44](https://cloud.githubusercontent.com/assets/193492/15713050/12465e74-2815-11e6-814f-4809cf6c63b9.jpg)
* With something like `300,400` it works, but the crop doesn't always include the foc

[2016-06-01 14:30] malvese commented on #5
Well, that's actually another issue right? I should create another one.

[2016-06-01 14:45] flokosiol commented on #5
The black strip on the right is another issue, that's right. I'm already working on this, though there's no official issue (yet). It's kind of a portrait-landscape-issue. Would you create another issue or shall I do?

Thanks for testing!

[2016-06-01 14:49] malvese commented on #5
@flokosiol I'll create one, copy the information above and some more details.

[2016-06-01 15:05] malvese opened #6 "Crop doesn't respect image boundaries"
The crop doesn't seem to take image boundaries into account:
* If the focus point is very close to the border, the crop may include areas outside of the image, and create a black stripe:

![the-sea-400x300-5-44](https://cloud.githubusercontent.com/assets/193492/15713050/12465e74-2815-11e6-814f-4809cf6c63b9.jpg)
* The opposite happens when the crop is narrow, the crop doesn't always include the foc

[2016-06-01 15:25] flokosiol commented on #5
**To sum it up:**
There seem to be an issue, that the focus field isn't displayed while running `$php -S localhost:8000`

All there rest of this discussion will go on here …
https://github.com/flokosiol/kirby-focus/issues/6

[2016-06-01 17:59] medienbaecker commented on #6
I think the second problem is a different issue. **Every** image's width gets scaled up a bit. I just noticed that in my installation. You wrote it only happens when the "crop is narrow", can you check if it happens with a different focus point too? If there's enough room considering the focus point, the image borders should be visible.

[2016-06-01 19:06] medienbaecker commented on #6
We could do `$img->fit_to_height($thumb->options['height']);` and `$img->fit_to_width($thumb->options['width']);` for the two fitting modes. The $x1, $x2, $y1, $y2 need to be converted from the original image to the new dimensions.

Do you have an idea @flokosiol?

[2016-06-01 19:34] medienbaecker commented on #6
Yeah, I think finally found the error. It's here:
https://github.com/flokosiol/kirby-focus/blob/master/focus.php#L91
...and here:
https://github.com/flokosiol/kirby-focus/blob/master/focus.php#L110

The dimension that's not fitting inside the cropped dimension is not calculated correctly.

It should be:

`$height = floor($dimensions->width() * $thumb->options['ratio']);`

and

`$width  = $dimensio

[2016-06-02 12:00] #6 closed

[2016-06-02 12:02] flokosiol commented on #5
Sorry, referenced the wrong issue in my commit message. Issue reopend.

[2016-06-02 12:02] flokosiol commented on #4
Fixed with v0.3.

[2016-06-02 12:02] #4 closed

[2016-07-05 19:43] danst0 opened #8 "Some file names do not work"
Some file names do not seem to work and no target setting picture is shown.
E.g. Photo%20Juni%2025%2C%2010%2046%2039.jpeg
Might be related to spaces.

Daniel

[2016-07-05 21:19] flokosiol commented on #8
Thanks for reporting. I will have a look at this.

[2016-07-06 06:25] flokosiol commented on #8
I found the problem. There will be a fix soon – maybe today 😉

[2016-07-06 11:31] #8 closed

[2016-07-27 12:22] #1 closed

[2016-07-29 20:00] Andi-Lo commented on #5
I can also relate to that issue on win 10 using XAMPP.

[2016-07-30 05:59] flokosiol commented on #5
Thanks for reporting.

Since there has been a lot of different things discussed here in this topic, is it correct, that the image field to set the focus point is missing in your panel? Or are there any cropping issues?

Could you please set `c::set('debug',true)` in your `config.php` and check if you get any errors? Or is there anything tracked in your error_log?

Regards. Flo.

[2016-08-01 12:07] jenstornell opened #9 "It's moving on save"
When I click save the focus point moves a few pixels. It's probably not a problem for me right now but I wanted you to know.

Watch carefully and you will probably see it:

![point](https://cloud.githubusercontent.com/assets/927011/17293549/3355e0d8-57f1-11e6-8aa3-3d125d3f43c1.gif)

I guess I'm using it with GD. At least I don't have ImageMagic installed.

[2016-08-01 13:14] flokosiol commented on #9
Thanks for reporting, Jens. This could be a rounding issue. I will have a closer look at it.

[2016-08-02 16:02] Andi-Lo commented on #5
The focus point is missing in the panel yes.

If I use
[code]

I am getting the following errors:
- `Undefined variable: image in C:\xampp\htdocs\starterkit\site\templates\home.php on line 12`

- `Uncaught Error: Call to a member function focusCrop() on unknown in C:\xampp\htdocs\starterkit\site\templates\home.php on line 12`

If I don't use the focusCrop method to just see if there is a field in

[2016-08-02 18:58] flokosiol commented on #5
Before you can use the `focusCrop()` method you need a Kirby image object. In my example `$image` is just a placeholder for that. With the following code in your template file, you can grab the first image (automatically as an image object) and try to use the focusCrop:

[code]

Could you please try that? You could also try to use a smaller image, e.g. 1000 x 1000px.

If it does not work at all, i

[2016-08-02 19:39] flokosiol commented on #9
Hi Jens,
would be great if you could have short look at the develop branch. I think I fixed the issue, but someone else checking it would be awesome. Thanks in advance.

Flo.

[2016-08-02 19:50] flokosiol commented on #9
By the way: The problem was that the positioning on click was made by using px values, but the positioning after a page reload was made by % values. So it was indeed a kind of rounding issue – as I suspected. I simply changed everything to %.

[2016-08-04 06:24] jenstornell commented on #9
It works for me as well! :)

[2016-08-04 19:48] Andi-Lo commented on #5
Okay now I am getting a cropped Image. However the field is still missing in the panel.

My blueprint is as simple as this:
[code]

I don't get any console.log errors or anything. The DOM is also not showing any element that belongs to focus.

[2016-08-04 22:40] flokosiol commented on #5
Alright. We're half way there.

The Focus field is a field used for every image, so it needs to be located at the [file fields](https://getkirby.com/docs/panel/blueprints/file-settings#file-fields). Try to change your blueprint like this:

[code]

This should work :)

[2016-08-04 23:01] Andi-Lo commented on #5
Ahhh yes how could I miss that :( ?

Thanks for your help :+1:  :)  works like a charm

[2016-08-05 04:56] flokosiol commented on #5
Great.

Regarding the original issue: I tested the focus field using `$php -S localhost:8000` and everything works fine. So I will close this issue.

[2016-08-08 11:25] #9 closed

[2016-09-06 15:14] jimhare opened #10 "Optional cropping features"
Hi Flo. Thanks for a really great plugin.
Could this be adapted into a crop field without too much trouble? Would be a lifesaver :)

It would save two coordinate-pairs instead of one, and have accompanying methods to perform the crop. Maybe, it could be one plugin with both features available… First you choose your focal point,  then you drag around a crop box (which is only permitted to contain t

[2016-09-06 19:56] flokosiol commented on #10
Hi Jim.

Thanks for your feedback and your suggestion. To be honest, I won't extend the plugin in this way.  I had really bad experience with third party „rectangle-cropping-plugins“ for Drupal. So I decided to keep the Kirby plugin as simple and robust as possible.

If you are looking for a full cropping tool, please have a look at https://github.com/blankogmbh/kirby-cropper

I hope you can under

[2016-09-06 19:56] #10 closed

[2016-09-06 20:04] jimhare commented on #10
Totally understand; thanks for your reply! I'll fork anyway and give it a go myself. P.S. I tried blankogmbh's field first but it relies on Imagick which I don't have in MAMP :(
Thanks again. Jim

[2016-09-12 14:34] malvese opened #11 "Wrong dimensions with driver 'im'"
If the image is horizontal and cropped to a vertical format, the thumb is correct with 'gd' but not with 'im'.
In the image below, the left one with 'im' has the expected dimensions, the right one was generated using 'gd'.

![gd-im](https://cloud.githubusercontent.com/assets/193492/18439532/0f908276-7906-11e6-85c6-e85c2f448d7b.png)

[2016-09-12 14:59] flokosiol commented on #11
Thanks for reporting. I'll have a look at this.

[2016-09-12 20:19] flokosiol commented on #11
I'm sorry, but I couldn't reproduce this issue. Everything works fine for me with ImageMagick. My original image is 500x300 Pixel. It gets cropped correctly to 200x100, 100x200 and 100x100 – both with IM and GD.

Please notice that there's no upscaling at the moment. If the cropped image dimensions are larger than the original image dimensions there will be no cropping, which might lead to unexpec

[2016-09-14 14:18] malvese commented on #11
That's right, I tested in a fresh starterkit and it indeed works as expected. The problem lies in my code it seems, sorry about the false issue!

[2016-09-14 17:45] malvese commented on #11
After more tests, I'm re-opening this issue.
I found to way to reproduce it, it happens only on multilingual sites with a config like:
[code]

To reproduce on a fresh starterkit, set the site to multilingual, something like:
[code]
And rename the .txt files with the correct language suffix. When the site is in english everything is fine with driver `im`. If the current page is not in english when

[2016-09-14 17:54] flokosiol commented on #11
Alright. Thanks for figuring it out. I will have a look this though my first impression is, that this is a Kirby related bug … we'll see …

[2016-09-17 11:14] flokosiol commented on #11
I tested a lot with different combinations, the error *might* be related to localized coordinates. For EN the values are always returned as `0.5`, but for FR and DE it gets localized to `0,5`. This might be the reason. I need to check this …

But in my test cases I couldn't reproduce your error. Everything works fine with GD an IM. But there are situations which may seem to produce a wrong croppin

[2016-09-18 11:05] malvese commented on #11
Thanks for testing!
Good find, it seems to be the issue: if I set the French config with `'locale'  => 'en_EN',` it works fine with driver `.im`. Of course I can't do it on the production server… but if you can enforce the use of numbers with dots that could do the trick.

The values are stored correctly with dots: `Focus: {"x":0.43,"y":0.22}` even in French, but are normally converted to commas w

[2016-09-18 11:51] flokosiol commented on #11
Thanks for your feedback. Could you please check out the develop branch and test again? Since I couldn't reproduce the problem it's hard to guess, where's the right place to change the values …

[2016-09-18 15:23] malvese commented on #11
I just tried the develop branch, unfortunately it didn't solve the problem.
Also the `focusX()` method still returns `0,36` but perhaps this is expected.
I tried to use the str_replace in a few other places, without success so far.

[2016-09-18 17:10] malvese commented on #11
I noticed the filename is correct, e.g `myimage-350x465-80-74.jpg`. `80-74` is the focus position, so it is calculated correctly a that point, in `file.php`.

[2016-09-19 07:16] flokosiol commented on #11
I have another idea and will test it today …

[2016-09-19 11:45] flokosiol commented on #11
I could reproduce the issue now and I found a solution which (at least) works for me. I pushed it to the develop branch. Would be great if you could test it again.

Thanks and regards.

[2016-09-23 09:50] flokosiol commented on #11
No pressure, but … any news @malvese? Would be awesome if you could have a short look at the develop branch. Merci. 😄

[2016-09-23 10:29] malvese commented on #11
Sorry I'm just a bit swamped right now. I have a site to ship this very afternoon, then I'll have a look 😄

[2016-09-23 17:35] malvese commented on #11
And… it now works!! 🎆  I tried a few things for the sake of testing, but couldn't reproduce the bug.

Fantastic detective work @flokosiol, thank you so much :)

[2016-09-23 17:51] flokosiol commented on #11
Thank you so much for testing and … of course … using 😊

[2016-09-23 17:52] #11 closed

[2016-10-21 13:01] arnaudjuracek commented on #5
I'm having the same problem : the focus field is missing on the file panel when running on `php -S localhost:8888` on OSX 10.11.6.

When running on MAMP, the focus field is present.

[2016-10-24 10:09] flokosiol opened #12 "Add support for additional thumb params"
… like 'grayscale' as described [here](https://forum.getkirby.com/t/focus-define-an-image-focus-point/4249/44?u=flokosiol).

[2016-10-25 19:51] flokosiol commented on #12
I tested with Kirby 2.3.0 and 2.3.2 using both IM and GD and the latest version from [develop branch](https://github.com/flokosiol/kirby-focus/tree/develop), but couldn't reproduce [your notices](https://forum.getkirby.com/t/focus-define-an-image-focus-point/4249/48?u=flokosiol), @TimGr

I tried different variations which all did a good job:

[code]

Any ideas or hints?

[2016-10-27 10:09] mirkoclemente opened #13 "Quality parameter ignored"
Hi,

on my machine focusCrop seems to ignore the quality parameter.

$image->focusCrop($width, $height, X);
creates always the same image unaffected by X.

$image->crop($width, $height, X);
works as expected and appends the quality parameter (-qX.ext) to the filename.

I would appreciate any help on this issue.

[2016-10-27 15:41] flokosiol commented on #13
Thanks for reporting. As you mention correctly, `focusCrop()` doesn't add `-qX` to the [filename](https://github.com/flokosiol/kirby-focus/blob/master/methods/file.php#L52). This means that Kirby doesn't recreate the thumb, if the quality changes.

**Flushing your thumbs folder** should force Kirby to recreate the images.

I'm already working on this issue, because there will be a [possibility to

[2016-11-01 11:53] mirkoclemente commented on #13
Thank you for the clarification and the little fix. I'm looking forward to the new features.

[2016-11-06 19:46] #12 closed

[2016-11-06 19:46] #13 closed

[2016-11-18 14:02] jenstornell opened #14 "Forced focus idea"
I've got a new idea.

Maybe we sometimes need all the images to have a focus point on top center position, like this:

[code]

The above could force the image position on top 0 and calculated center. It would be perfect for screenshots where we don't want to spend the time to manually set the focus points.

In the future I even hope it will reach the core but it seems to take time:
https://github.

[2016-11-18 16:15] flokosiol commented on #14
I like that idea. But I think we should use `x` and `y` and percentage values to force a focus point like this …

[code]

[2016-11-18 16:20] jenstornell commented on #14
I agree. The we don't mix strings and integet. x and y is fine by me as well. =)

[2016-11-25 11:39] jenstornell commented on #14
I could not wait for it so I created this:

https://github.com/jenstornell/kirby-crop-top

[2016-11-25 12:42] flokosiol commented on #14
Alright. 👍

I don't have much spare time at so moment, so I couldn't implement your suggestion so far. Sorry for that …

[2017-01-23 01:06] almone commented on #5
I'm having the same issue with php -S localhost:8888 on macOS 10.12.2.
Everything works great on Vagrant.

[2017-01-25 14:32] flokosiol commented on #5
I will have a look at this again. Thanks for reporting.

[2017-02-01 18:13] Andi-Lo opened #17 ""Auto" values?"
Currently you have to specify 2 parameters (height and width) in order to generate a thumbnail with focusCrop.

In kirby you can do something like: `echo thumb($image, array('width' => 1920))` and kirby will take the image ratio into account and calculate the proper height.

With focus crop you can just do this: `echo $image->focusCrop(200);` which will crop a square. Is there a possibility to get

[2017-02-01 21:03] flokosiol commented on #17
Thanks for your suggestion. Maybe I'm wrong, but …

If you create thumbnails by defining either width or height and calculating the other value taking the ratio of the original image into account, then there's no cropping – you just scale the image. And if you don't crop the image, you don't need to define a focus point. In this case I would simply stick to the `thumb()` method as you described.

[2017-02-03 11:15] Andi-Lo commented on #17
Ouh I never thought it that way. Seems you're right and it doesn't make sense with `auto` as an argument :)

[2017-02-03 11:15] #17 closed

[2017-02-08 21:52] #14 closed

[2017-02-21 15:39] macx commented on #5
The same for me using grunt-php running under http://127.0.0.1:9000/: Is I set type: focus, the field is not visible in the panel.

[2017-02-22 15:05] flokosiol commented on #5
I could reproduce the issue with `php -S localhost:8888` and it seems to be a problem with the filename encoding. I'll try to fix it as soon as possible.

[2017-02-22 22:00] heroheman opened #19 "focus y is set to x"
Hi @flokosiol !
Your last commit broke something.
Please have a look at:
https://github.com/flokosiol/kirby-focus/blob/master/methods/file.php#L69

**The last argument should be a `y` not `x`.**
This leads to incorrect behavior as it only reads the width, not the height.

btw. I really like your plugin, keep up the good work.

[2017-02-23 05:29] #5 closed

[2017-02-23 05:29] #19 closed

[2017-02-23 05:34] flokosiol commented on #19
Ouch. Looks like a copy/paste issue … but should be fixed now.
Thanks for reporting.

[2017-02-23 05:46] flokosiol commented on #5
Should be fixed now.

The PHP CLI server encodes the `.` character differently. Because of this the `file` object could not be loaded and no image was found which could be displayed.

After digging deeper into Kirby's Panel code, I found a method which takes care of a proper filename decoding. As you can see [here](https://github.com/getkirby/panel/blob/master/app/src/panel/models/file.php#L34) it

[2017-02-23 07:58] macx commented on #5
Still the same on my site with Version 1.0.9 (installed via Git Submodule). The focus field does not to appear. Change the field type back to `image` and I can see it.

[2017-02-23 12:38] flokosiol commented on #5
@macx
Strange?! I checked version 1.0.9 again with `grunt-php` and everything works fine for me.

Do you have the possibility to check it with a different server? If it works, we would be sure, that your [blueprint setup](https://github.com/flokosiol/kirby-focus#1-blueprint) is ok.

[2017-03-01 07:53] macx commented on #5
@flokosiol I testet it with a fresh project. Installed as a git submodule (in `src/plugins/focus`) and used the following setup:

[code]

As soon I use `focus`, the image element disappears from the Kirby Panel. Still using grunt-php at `http://127.0.0.1:900/`.

[2017-03-01 07:59] macx commented on #5
Sorry @flokosiol: The whole time I did not read the manual properly. To me it was not clear to put the yml part into the files section and not the fields section itself. Now it's working, thank you.

[2017-03-01 12:56] flokosiol commented on #5
Thanks for your reply.
Maybe I can check for this and output a message instead of doing nothing. I will give it a try …

[2017-07-15 04:55] flokosiol opened #21 "Websites using Kirby Focus"
Make a list of websites using Kirby Focus.

[2017-07-15 04:58] flokosiol commented on #21
https://github.com/flokosiol/kirby-focus/wiki
To add your website to the list, you can comment this issue, make a pull request for the wiki or contact me in any otherway you like. Thanks!

[2017-07-15 04:58] #21 closed

[2017-08-25 09:02] malvese commented on #21
https://inprincipo.com/
https://tedxsaclay.com/

[2017-08-31 07:28] movingwater opened #22 "prevent upscaling"
Is there a way to disable upscaling? If I use
[code]
and if the image is just 800px width it blows it up to 1200px.

[2017-08-31 08:08] flokosiol commented on #22
Thanks for your feedback. This should be possible and I'll check it out.

But what do you think should happen, if only one dimension (width **or** height) is larger than the original?

[code]

**Possible results**
1. Crop only the height: 800px x 600px
2. Crop to desired reatio: 800px x 400px
3. Don't crop at all: 800px x 800px

[2017-08-31 08:50] movingwater commented on #22
I would prefer to crop to the desired ratio (2).

[2017-08-31 09:07] SimonWpt commented on #22
Crop means crop, not CropAndScale. For this reason I would select 1 :)

[2017-08-31 09:36] flokosiol commented on #22
I also prefer 1, but I will check how the Kirby `crop()` method handles this.

[2017-08-31 11:32] flokosiol commented on #22
Alright, Kirby `crop()` makes an upscale to match the larger value and then crops the image to the final dimensions.

[2017-08-31 14:02] SimonWpt opened #23 "Missing ;"
https://github.com/flokosiol/kirby-focus/blob/master/fields/focus/assets/css/focus.css#L2

[2017-08-31 15:07] flokosiol commented on #23
Damn. Will fix it soon. Thanks for reporting.

[2017-08-31 19:57] flokosiol commented on #23
I fixed it on the `development` branch and added a `config.php` option to go fullwidth again:

[code]

Would be awesome, if you could test it before I merge it to the `master` branch, @SimonWpt.

[2017-10-17 12:20] #23 closed

[2018-01-25 12:01] flokosiol commented on #22
I came back this issue after quite a long time and I think I will stick to the current behavior, because it's the same way the Kirby `crop()` method works. Let's keep things consistent 😉

[2018-01-25 12:01] #22 closed

[2018-04-06 00:58] MichaelPrecel opened #25 "Gif resizing down increases file size"
Hey @flokosiol,

This plugin is so intelligent and useful – thanks!

I'm having a bit of a problem however with using it to resize gifs down to a smaller pixel dimension, it results in a considerably larger file size. For example, a 1000 x 1000px gif at 1.27mb when scaled down to 400 x 400px become 2mb and at 800 x 800px becomes 8.4mb.

I'm assuming this has something to do with the imageMagick dr

[2018-04-06 06:25] flokosiol commented on #25
Thanks for reporting.

The Focus plugin IM driver inherits most of its logic from the [original IM thumb driver](https://github.com/getkirby/toolkit/blob/master/lib/thumb.php#L273) of the Kirby Toolkit, including the [-resize](https://github.com/getkirby/toolkit/blob/master/lib/thumb.php#L299) option.

Could you please verify, if the issue also occures when you are using `crop()` instead of `focus

[2018-04-06 06:55] MichaelPrecel commented on #25
Thanks so much for getting back to me promptly.

I have just run a quick test and it appears to happen using the crop() method as well. I tried previously altering the im.php file to change the -resize option to -scale, but also no luck.

From a bit of research it appears to be caused by the fact that IM is incapable of optimising resized gifs, which is a shame, and some suggestions seem to prefer

[2018-04-06 08:00] flokosiol commented on #25
Alright. Thanks for the quick response and the testing.

[2018-04-24 12:54] flokosiol opened #26 "Move preview.gif to Github CDN"
https://gist.github.com/vinkla/dca76249ba6b73c5dd66a4e986df4c8d

[2018-06-20 09:35] mikewink opened #27 "Broken focus field for non image file types"
Thank you very much for your field! It is a nice addition to the Kirby universe. 👍

I wanted to ask if it is normal for non-image fields to show a broken focus field? Maybe we can hide the field based on the supported mime types?

[2018-06-20 11:34] flokosiol commented on #27
Thanks for reporting.

In previous versions there was a `$file->canHaveThumbs()` Kirby core method [which did the check](https://github.com/flokosiol/kirby-focus/blob/master/fields/focus/focus.php#L106), but it seems to be deprecated. I will push a fix to the `development` branch in a minute. Would be awesome, if you could check it!?

[2018-06-20 11:37] flokosiol commented on #27
https://github.com/flokosiol/kirby-focus/archive/develop.zip

[2018-06-21 11:33] flokosiol commented on #27
Great. Thanks for testing. I will try to release a new version as soon as possible.

[2018-06-23 15:08] #27 closed

[2018-08-10 07:32] joernroeder opened #28 "upcoming kirby 3"
Hey @flokosiol,
do you have any plans in upgrading this plugin to Kirby 3?

[2018-08-10 13:26] flokosiol commented on #28
Yes, definitely. You can check out the `k-next` branch to see the current progress.

[2018-08-31 18:07] gerricom opened #29 "[K-Next] Cropped image won't update when focus changes"
Hey! First things first: Thank you very much for having a beta of your plugin for the upcoming Kirby version! I really appreciate it!

I'm trying your `k-next` branch with the latest nightly build of Kirby and my image won't update if I change the focus. I don't know, if I'm missing something here, but for the moment, I have to empty the corresponding media directory...

[2018-08-31 18:17] flokosiol commented on #29
Thanks for your feedback.

Could you please have a look at the generated image filenames in your media folder? They should include the x and y coordinates.

[2018-09-02 05:33] flokosiol commented on #29
Unfortunately I have no access to my computer at the moment, so it‘s not possible for me to have a closer look at this. But for now, let’s check the code which is responsible for the creation of the filename.

Here the coordinates are added to the thumb options:
https://github.com/flokosiol/kirby-focus/blob/k-next/config.php#L76

And this is the Filename `crop()` method in Kirby which adds it to t

[2018-09-03 12:54] gerricom commented on #29
Okay - I'm very sorry. It seems, I mixed up the nightly builds and the latest beta. I fetched the latest beta and suddenly, all is good. Sorry!

[2018-09-03 12:54] #29 closed

[2018-09-03 15:10] flokosiol commented on #29
No problem at all. Glad, that it works now.

[2018-09-03 16:39] gerricom opened #30 "[K-Next] Autoloading-Issues on linux"
I'm sorry to bother you again. I just tried to use your plugin on a Kirby 3 installation on a linux machine and the autoloader was unable to load `core/focus.php`. After I changed the filename to `Focus.php` the problem was gone.

[2018-09-03 17:05] flokosiol commented on #30
Thanks for reporting. I had no problems so far, because I‘m on MacOS which is case insensitive. I‘ll fix that.

Don‘t hesitate to report more bugs, if you find them. I really appreciate it! Thanks for testing.

[2018-09-12 11:36] #30 closed

[2018-09-20 21:27] joernroeder opened #31 "Using $this when not in object context"
i'm getting a `Using $this when not in object context` in the panel. The focus Field was working before. I'm on the latest Kirby nightly.

[2018-09-21 03:51] flokosiol commented on #31
Thanks for reporting, same for me. Should be fixed now … could you please check if it works for you, too?!

[2018-09-21 03:52] #28 closed

[2018-09-21 05:37] joernroeder commented on #31
yes, it works again! thanks for fixing that so fast!

[2018-09-21 05:37] #31 closed

[2018-11-02 21:13] carstengrimm opened #32 "Cannot use a scalar value as an array"
Inside the focus/config.php it seems that something is breaking the whole thing. I have pretty much a basic setup with latest k-next focus as well as latest beta and made sure all files have templates.

![image](https://user-images.githubusercontent.com/5014509/47940905-6f8d9d00-deec-11e8-8f28-f2b6660319ec.png)

[2018-11-02 21:18] carstengrimm commented on #32
temporary fix is to declare inside the function first

[code]

[2018-11-03 05:55] flokosiol commented on #32
Unfortunately this is no practical fix, because `focusCrop()` accepts options as third parameter, which need to be passed as an array.

In K2 there was a (deprecated) Option, that the 3rd Parameter could also be an integer, which was then used as *quality*. This is no longer supported.

The error ”Cannot use skalar value …“ indicates, that you probably use the old syntax `focusCrop(200,300,80)` in

[2018-11-03 11:41] carstengrimm commented on #32
you are correct. i was using the old syntax

[2018-11-03 13:46] #32 closed

[2018-11-15 10:42] MathiasGmeiner opened #33 "Kirby 3: "The field type "focus" does not exist""
Hey, if I try to add the focus field to a blueprint like that:

[code]
I get the *The field type "focus" does not exist"* error.

 I'm on `3.0.0-beta-6.17` and dev-kit copied the folder to `site/plugins/focus`

Am I doing something wrong?

[2018-11-15 11:04] flokosiol commented on #33
Did you check out the `k-next` branch? The `master` branch is still for Kirby 2 only. This will change as soon as Kirby 3 is officially launched.

[2018-11-15 11:44] MathiasGmeiner commented on #33
Yes, I'm on the `k-next` branch.
This is my folder structure:
![bildschirmfoto 2018-11-15 um 12 41 37](https://user-images.githubusercontent.com/103595/48550756-eacf5580-e8d3-11e8-8b63-e4af81199649.png)

This is my page blueprint `member.yml`

[code]

[2018-11-15 12:00] flokosiol commented on #33
In your blueprint, you use the focus field as a field for pages, but it can only be used as a field for files.

I'm still not 100% familiar with all the blueprint possibilities in K3, but it should work, if you change the the `type: fields` in your sidebar - meta section to `type: files`

If not, I successfully use it with this blueprint setup:

[code]

… and then in `site/blueprints/files/image.y

[2019-01-20 12:15] tristantbg opened #35 "Doesn't work with Imagemagick thumb driver"
I got a 500 error :

```Call to undefined function dd()```

Maybe use `dump()`instead ?

[2019-01-20 14:53] #35 closed

[2019-01-20 14:58] flokosiol commented on #35
Oh damn. That was just for testing purposes. Thanks for reporting.

I removed the line completely.

If you‘ve installed the plugin with composer you will need to wait some more time until I can rebuild the package for packagist. But for now you can delete the whole line and it will (hopefully) work again.

[2019-02-12 18:59] flokosiol commented on #25
Seems to be an ImageMagick issue, so I will close this one here.

[2019-02-12 18:59] #25 closed

[2019-02-18 14:08] HimmelsW opened #38 ""help" option not being displayed"
Hi,

thank You for the great plugin!
Unfortunately if I extend the focus field with the 'help' option, the help text is not being displayed, it's in the source code though (tested in Chrome v72).
It's not a big deal, I just thought I'd let You know.
Cris

[2019-02-18 18:06] flokosiol commented on #38
Thanks for reporting, Cris. I‘m pretty sure it’s not a big deal to fix this.

[2019-02-25 21:55] #38 closed

[2019-02-25 22:04] flokosiol commented on #38
I finally found the time to include your idea. Would be awesome if you could test the latest release (3.0.2). Thanks in advance.

[2019-02-27 17:22] HimmelsW commented on #38
That was quick!
Thanks a lot, it works beautifully!
All the best!

[2019-03-04 08:26] macx opened #39 "Broken since 3.0.2"
Since 3.0.2 I get an error: 'Invalid field type ("focus")'; After downgrade to 3.0.1 it's working again.

[2019-03-04 08:33] flokosiol commented on #39
I re-structured the plugin following the official guidelines. Maybe I missed something!?

Could you please provide some details about your Kirby version and the way you installed the plugin (zip download, composer or git submodule)? This would be very helpful. Thanks.

[2019-03-04 08:47] macx commented on #39
I installed all packages via composer. `getkirby/cms` is at 3.0.2.

[2019-03-04 19:59] flokosiol commented on #39
I could reproduce this issue. Unfortunately I'm far away from being a composer pro … but I think the new structure of the `composer.json` file in the focus plugin might cause the problems.

A working solution (at least for me) is to remove the plugin entirely with `composer remove flokosiol/focus` and then installing it again with `composer require flokosiol/focus`.

After that everything should w

[2019-03-05 06:49] macx commented on #39
Unfortunately not, I tried it before. I forced it to not use the cached version via `composer clear-cache`.

I switched to composer from git modules (because it's a mess), but I'm also not a pro at composer. Maybe the setup of [KirbyBuilder](https://github.com/TimOetting/kirby-builder/blob/master/composer.json), which is working nicely, can help out.

[2019-03-05 12:45] flokosiol commented on #26
![preview](https://user-images.githubusercontent.com/11918336/53806296-daa7b880-3f4c-11e9-86ce-edc64212cc2d.gif)

[2019-03-05 12:47] #26 closed

[2019-03-21 13:11] theWeird opened #41 "Use thumb presets from site config"
Instead of defining image options on every use, can this plugin work with default/named presets from the sites config.php?
https://getkirby.com/docs/reference/system/options/thumbs

For Thumbnail definitions used in several places of the page it would be great to call the method with the name of a preset or without any parameter for default preset.

[2019-03-22 06:12] flokosiol commented on #41
That‘s a really good idea. I will have a look at it.

It may be that we can‘t reuse existing thumb presets, but need to set new ones for `focusCrop`. But this would still be useful, I think.

[2019-04-17 16:09] mullema opened #42 "Move Darkroom type definition out of global scope"
Hi!
I am building a crop plugin by extending the Darkroom Classes as you do. But I struggled over your code [here](https://github.com/flokosiol/kirby-focus/blob/master/index.php#L14):
[code]
You are forcing everyone to use your classes and you still allow them to be overwritten by another plugin. If my plugin was loaded after yours, these two variables get overwritten by mine and your plugin does

[2019-04-19 19:59] flokosiol commented on #42
Thanks for your suggestion.

I thought it must be in global scope to replace the default Darkroom class. I will test it and fix it, if I find a better way …

[2019-04-23 19:48] mullema commented on #42
They are two [properties in the Darkroom class](https://github.com/getkirby/kirby/blob/master/src/Image/Darkroom.php#L13). Whenever you call the [Darkroom::factory](https://github.com/getkirby/kirby/blob/master/src/Image/Darkroom.php#L25) it will return what is set in those properties. The only important thing is that you set **your** properties before your call Darkroom::factory.
You are not doin

[2019-04-24 19:06] flokosiol commented on #42
Thanks for your help … very much appreciated!

[2019-05-03 21:19] flokosiol commented on #42
I tried to implement your suggestion. Unfortunately, it doesn't work to set the Darkroom type definition inside the custom [focusCrop file method](https://github.com/flokosiol/kirby-focus/blob/master/index.php#L52).

However, it does work when I declare a [custom thumb component as you do](https://github.com/mullema/k3-image-clip/blob/master/components/thumb.php) like this …

<img width="880" alt=

[2019-05-04 09:30] mullema commented on #42
You are right, it does not work as I suggested. I don't quite understand why....
Unfortunately are thumbs components overwriting each other. The last one declared will be the one used.

We could at least make our two plugins work together:
- You omit using the thumbs component.
- You declare your Darkroom::$types globally (as before).
- I reset the Darkroom::$types after cliping in my plugin.

But

[2019-05-04 09:40] mullema commented on #42
I just understood why...
focusCrop is called on a Kirby instance, then file::version and the job file is generated (the thumbs component is never called here).
To actually generate the thumb, it is a new request to the server (the image url), a new Kirby instance, which does never go via focusCrop but directly to the thumbs component.

[2019-05-04 12:54] flokosiol commented on #42
Ok, I got it. Thanks for taking the time and for this explanation.

[2019-05-04 17:48] tobiasfabian commented on #39
I had the same issue. My third argument was a string like this:

[code]

Since i removed the (now needless) `'top'` string it works fine.

I installed as a git submodule but I think that’s not relevant for this issue.

[2019-05-05 06:55] mullema commented on #42
I posted a possible solution in the ideas repo. please upvote! https://github.com/getkirby/ideas/issues/278

[2019-05-21 15:05] ceesvanegmond opened #44 "Plugin not loading?"
I followed the install guide for this plugin. In my blueprint I can add the `focus` field type. No errors so ar. But when I load the webpage, I only get a white space. No errors at all.
I'm using the kirby content builder, but without this it also doesn't work.
Used several install methods, none of seem to work. Kirby version: 3.1.3

Do I
![Schermafbeelding 2019-05-21 om 17 02 41](https://user-ima

[2019-05-21 21:05] flokosiol commented on #44
Seems like you've added the field to a page blueprint, but it is only available for [file blueprints](https://getkirby.com/docs/reference/panel/blueprints/file).

I hope this solves the problem – if not, don't hesitate to get in touch again. I'm pretty sure we will find a solution 😉

[2019-05-24 15:24] ceesvanegmond commented on #44
@flokosiol Ah, you're so right. How stupid... Works perfect! Thanks!

[2019-05-24 15:24] #44 closed

[2019-05-24 17:22] flokosiol commented on #44
No problem, glad it works now.

Maybe I should try to return a message if the field is used outside of a file context. This would be helpful, I guess.

[2019-08-06 00:36] carstengrimm opened #45 "resize broken after editing focus slightly"
I am trying to add some sort of watermarking method to FocusCrop and GDlib to have a flexible way of creating automated watermarked images when using certain commands, i have had my attempt which seems to create the watermarked images as intended, however it seems like once i changed the code, kirby's $image->resize() function does not seem to work anymore.

so i am wondering if i am missing out o

[2019-08-06 08:41] carstengrimm commented on #45
The Part where i set

[code]
seems to break some things, even though the overlay method exists

[2019-08-06 12:15] flokosiol commented on #45
I'm not sure if I could follow all of your explanations, but I think I got it 😉

In `GdLib.php` of the Focus plugin you have this code (please see the comment inside):

[code]

I think the methods `autoOrient()`, `resize()`, `blur()` and `grayscale()` (which are listed below in the file) are just helper methods for the [SimpleImage class](https://github.com/getkirby/kirby/blob/master/vendor/clavis

[2019-08-06 12:20] carstengrimm commented on #45
is there not?

https://github.com/getkirby/kirby/blob/03d6e96aa27f631e5311cb6c2109e1510505cab7/vendor/claviska/simpleimage/src/claviska/SimpleImage.php#L688

[2019-08-06 15:29] flokosiol commented on #45
🤦‍♂ Oh, you're right. I totally overlooked that. 🤔  Strange … I can't spot any other errors …

[2019-11-18 13:08] flokosiol commented on #41
It took some time, but I finally implemented presets. @theWeird, would be awesome if you could check out the [presets-branch](https://github.com/flokosiol/kirby-focus/tree/feature/presets) and test the new feature. Thanks in advance!

Please find the documentation here:
https://github.com/flokosiol/kirby-focus/tree/feature/presets#presets

[2019-11-18 13:08] #41 closed

[2020-01-07 13:01] gearsdigital opened #46 "focusCrop does not work with srcset"
Not sure if this works as expected but I figured that  `focusCrop` does not work with `srcset`.

This works:
[code]

This does not...
[code]

This code is based on https://getkirby.com/docs/reference/panel/samples/team

[2020-01-07 13:52] gearsdigital commented on #46
Nevermind. I better should've RTFM, right? https://github.com/flokosiol/kirby-focus#focus-and-srcset-becomes-focussrcset

![facepalm](https://user-images.githubusercontent.com/965069/71900017-39d1ed00-315d-11ea-9973-d4c77cb04e23.gif)

[2020-01-07 13:52] #46 closed

[2020-01-11 16:02] HashandSalt opened #47 "Deprecated method"
Plugin throws the following issue when using focusSrcset in a template or controller:

[code]

The line in the plugin causing it is line 70:

[code]

Observed in Kirby 3.3.2 running on PHP 7.2

[2020-01-11 16:31] flokosiol commented on #47
Thanks for reporting. Line 165 in `src/Focus.php` might cause this issue. Changing it to `public static function …` should do the trick.

I’ve no access to my computer right now. Would you mind test it yourself?

[2020-01-11 16:33] flokosiol commented on #46
No problem. Thanks for using the plugin!

[2020-01-11 16:49] flokosiol commented on #47
Just found out, that I can edit on my phone. But I still need to create a new release. To be continued … :)

[2020-01-11 16:51] HashandSalt commented on #47
Yes, the fix seems to work ok :) 👍

[2020-01-11 17:03] flokosiol commented on #47
Perfect. Thanks for testing.

[2020-01-12 21:23] flokosiol commented on #47
Created version 3.0.4 with the fix.

[2020-01-12 21:23] #47 closed

[2020-03-31 19:00] lucadorata opened #49 "Presets also with focusSrcset()?"
Hi @flokosiol - first of all thanks for providing this plugin -
Is there also a way to use presets with `focusSrcset()`, analog to:
[code]
?
I need to ask, because it's not mentioned in the docs...

[2020-03-31 19:22] flokosiol commented on #49
Hi @lucadorata
I'm sorry, but this is not possible at the moment. But the following idea might work (**untested!**):

In your config.php as described [here](https://getkirby.com/docs/guide/configuration).
[code]

In your template, snippet, whatever …
[code]

Would be awesome if you could drop me a line if this works for you.
Good luck 😉

[2020-04-01 10:02] lucadorata commented on #49
Hi @flokosiol,
just want to let you know, that your suggestion worked like a charm. I was able to access the thumbs options already configured in config.php.
I used this code:
[code]

[2020-04-01 10:02] #49 closed

[2020-04-15 11:01] jonasfeige opened #50 "Plugins stretches/rotates images with certain EXIF settings"
Not sure if this is jut me, but when using the focus plugin, uploaded images with certain EXIF rotation settings get rotated/stretched.

### Step to reproduce
1. Download EXIF orientation sample images from this repo: [https://github.com/recurser/exif-orientation-examples](https://github.com/recurser/exif-orientation-examples)
2. Download and setup Kirby Starterkit: [https://github.com/getkirby/st

[2020-04-19 21:43] flokosiol commented on #50
First of all, thanks for this excellent description!

I went through the steps and ended up at no. 4 because the photos 5-8 already get stretched on a **fresh starterkit installation without any additional plugins** – at least for me. Pleaser find attached the screenshots from the Panel.

Starterkit 3.3.5
ImageMagick 7.0.10-6_1

The [ImageMagick class used by the Focus plugin](https://github.com/f

[2020-04-20 07:21] jonasfeige commented on #50
Ah, interesting! I first thought it might be a Kirby issue as well.
Have you tried if the [auto-orient setting for thumbs](https://getkirby.com/docs/reference/system/options/thumbs#auto-orient) has any effect? It didn’t for me, unfortunately.

[2020-04-20 21:36] HashandSalt opened #51 "Images not cropped on PHP 7.3 or 7.4"
Seems images dont get cropped, but the file name does get changed to what should be with the crop ratio and size as part of the filename, but image is the orginal. It is just being passed through to the media folder without getting manipulated. If I switch back to PHP 7.2, eveythings good.

Observered on Centos 7 using GD and current Kirby release (3.3.5).

[2020-04-25 09:47] andreasotto opened #52 "Bug: Breaks when media-Folder is at another place"
**Thank you very much for your excellent plugin!**

I have the media folder at another place:

[code]

Images are linked to a `/media/..` location in the image preview page. It should be `/files/..` in my case.  As a result there are broken images in the panel. Afterwards the whole panel does not work any more because there seems to be files overwritten or deleted as a side effect.

The problem oc

[2020-04-25 21:21] flokosiol commented on #51
Thanks for reporting. I will have a look at this as soon as possible, but it may take some time because my spare time is limited at the moment. Thanks for your patience.

[2020-04-25 21:22] flokosiol commented on #52
Thanks for reporting. I will have a look at this as soon as possible, but it may take some time because my spare time is limited at the moment. Thanks for your patience.

[2020-04-26 21:15] flokosiol commented on #51
Unfortunately I can't test it with PHP 7.4 at the moment, but **with 7.3 everything seem to work fine** for me.

MacOS 10.14.6
PHP 7.3.15 with GD
Kirby 3.3.5 – fresh StarterKit, no other plugins
Focus (current master branch)

![kirby-focus-php-7-3](https://user-images.githubusercontent.com/11918336/80319927-7c562d00-8813-11ea-8287-be140ab1173e.png)

![gd](https://user-images.githubusercontent.com/

[2020-04-26 21:18] flokosiol commented on #51
What happens when you disable Focus and use the default `crop()` method instead? Does this work with PHP 7.3 and 7.4 on your server? Please make sure to clear the `media` folder before testing.

[2020-04-26 21:27] flokosiol commented on #50
Auto-orient had no effect for me, too.

I close the issue for now as it seem to be Kirby related. If you run into any issues with this plugin again, don't hesitate to contact me again!

[2020-04-26 21:27] #50 closed

[2020-04-26 21:28] HashandSalt commented on #51
Thanks for investigating. The standard crop method works, and i also flushed out the media folder. THe only thing that made it work on both my local machine (Valet) and on my VPS was switching back to 7.2. If I find any more clues, I will share them.

[2020-04-26 21:31] flokosiol commented on #45
I close the issue because it is not related to the functionality of the plugin. Sorry, that I couldn't help you with your question.

[2020-04-26 21:31] #45 closed

[2020-04-26 21:56] flokosiol commented on #52
I tried your config with a fresh starterkit (Kirby 3.3.5) and could reproduce the error – but without the Focus plugin installed. So this one is not Focus related.

Nevertheless, this config seem to fix it:

[code]

… as described by @pedroborges in this [forum answer](https://forum.getkirby.com/t/routing-to-media-content-instead-of-media-folder-structure/12978/2?u=flokosiol).

I also found this [

[2020-04-26 21:56] #52 closed

[2020-04-26 21:58] andreasotto commented on #52
Oh - i'm sorry to lead you in the wrong direction. Thank you very much for clarify this so fast.

[2020-04-26 22:00] flokosiol commented on #52
No problem at all. Don't hesitate to get in touch again, if you run into any other issues which might be Focus related.

[2020-04-26 22:05] flokosiol commented on #51
Thanks for the quick reply. That's really strange!?

[2020-09-15 09:05] jonasfeige commented on #49
I need this functionality very often so I built my own `fcsSrcset` function. Not meant as a proper plugin, but maybe it can be helpful for someone.

It has some defaults based on my own needs and the Tailwind breakpoints. But you can also pass a custom width and height for the base (smallest) image. It also accepts an array of breakpoints with the expected screen width and a ratio that refers to h

[2020-09-16 19:20] flokosiol commented on #49
Thanks for sharing!

[2020-09-18 06:57] S1SYPHOS opened #54 "Question regarding 'components.thumb'"
Hey there,
I'm currently building a plugin using `colorist`, and so far everything works fine: except for replacing Kirby's `thumb` method. I see that you went that way once, but commented it all out, so here's my question: What's your experience with the matter, and why did you decide to "replace" `Darkroom::$types` instead of hooking into `thumb`?

Whatever I do, I can't return anything useful u

[2020-09-20 09:30] flokosiol commented on #54
The problem is that overriding the `thumb` component will only work once and maybe collide with other plugins. Please find the whole story in issue #42.

Regards Flo.

[2020-09-20 09:30] #54 closed

[2020-09-20 09:32] #42 closed

[2020-09-20 11:07] S1SYPHOS commented on #54
Thanks very much!

[2020-09-26 10:52] S1SYPHOS opened #55 "kirby3-colorist supports 'Focus'"
Hey there,
I wrote an [alternative thumb driver](https://github.com/fundevogel/kirby3-colorist) using [`colorist`](https://github.com/joedrago/colorist). It is capable of image conversion to `AVIF`, `WebP` and some other formats, as well as resizing them etc. As I liked your `Focus` plugin, I added support for it.

Don't know if that's enough to be mentioned on your plugin's README, as it's not ex

[2020-09-26 11:27] flokosiol commented on #55
That sounds amazing! I will add a link to your plugin to the Focus README.

[2020-09-26 12:27] S1SYPHOS commented on #55
Thanks for your kind words & the support!

In the following days (and before telling people on the forum) I will add documentation - your plugin was inspiring, I must admit :bear: so .. stay tuned!

[2020-10-05 12:32] trych opened #56 "Does not create cropped images on server"
Hi there,
I have the issue that locally my cropped images are created just fine, but when I transfer the site to my server (uberspace.de, CentOS 7, PHP 7.4), the cropped images do not get created and therefore seem to be missing from the page:

![20201005-142818_Screenshot_GoogleChrome](https://user-images.githubusercontent.com/9803905/95079535-0b4a6800-0717-11eb-8a47-b7e582ac98e9.png)

It does cr

[2020-10-05 13:39] flokosiol commented on #56
As you mentioned in your edit – I'm not sure if this is Focus related!? Converting the `.job` files to real image should be done by Kirby itself.

Maybe the folder permissions aren't set correctly?!

[2020-10-05 14:30] trych commented on #56
Don't think it could have anything to do with folder permissions, as resized (non-cropped) images are created just fine and written to the folder.

Yes, the more I am trying around, the more it seems like it is not Focus related. Will close this for now.
Sorry for the fuss!

[2020-10-05 18:24] flokosiol commented on #56
Thanks for the feedback. Would be awesome if you could let me know what your solution was once the issue is fixed. I'll be switching from U6 to U7, too. Maybe it's helpful for me or for others! Thanks.

[2020-10-06 09:29] trych commented on #56
Sorry, back to the previous state.

Turns out I messed up with my git syncing and I still had `focusCrop()` method in use in my code. When I sorted this out and switched to Kirby's regular crop it *did* work again.

Unfortunately this means that the Focus crop is broken for me somehow. Any ideas how I could go about debugging this? I double checked `gd` and it is enabled and working fine for the n

[2020-10-06 09:46] trych commented on #56
Ok, it works now, also with the Focus crop. I have no idea what went wrong, I spent like half the day yesterday double checking that everything is correct on my side, but apparently I missed something. I did a clean git clone now onto the server and now when it generates the images, everything seems to work. Sorry again for the confusion. Hope this issue will be closed forever now. 😄

[2020-10-06 09:47] #56 closed

[2020-12-29 20:55] S1SYPHOS opened #57 "Update focus field on `file.replace`"
Hey there!
Whenever I replace an image, the focus field isn't updated automatically. This is just an observation, would be comfortable and "nice to have", so decide for yourself :fox_face:

Cheers
S1SYPHOS

[2020-12-30 07:07] flokosiol commented on #57
Ah, good idea. I never tested to replace an image so I never came across this issue.

[2020-12-30 07:45] S1SYPHOS commented on #57
I almost never do it myself, too ;)

[2020-12-30 15:51] flokosiol commented on #57
Just collecting some hints here:

- [Subscribe to global panel events](https://forum.getkirby.com/t/listen-to-panel-events-in-a-custom-vue-component/13453/6?u=flokosiol)
- [Github search results for existing panel file events](https://github.com/getkirby/kirby/search?q=this.%24events.%24emit%28%22file)

And a link to my form question: https://forum.getkirby.com/t/global-panel-event-for-file-update

[2020-12-30 17:12] S1SYPHOS commented on #57
I'm more than happy to test any changes coming out of this ;)

[2021-01-28 15:15] gegerino opened #58 "Transparent PNG Problem"
Hi,
I have a Problem with the croping at PNGs with transparent background.
Normal croping from Kirby works like a charm, but focusCrop() kills the transparent background.

[2021-01-28 15:18] #58 closed

[2021-01-28 15:19] gegerino commented on #58
Sorry, it's a global problem. default crop function also kills the background.

[2021-03-02 09:59] medienbaecker commented on #51
I have the same issue on PHP 7.4 with ImageMagick set as the thumbs driver. There are no errors but the images don't get cropped 🙁

[2021-03-07 20:30] flokosiol commented on #51
Thanks @medienbaecker. I will try to set up a test environment for PHP 7.4 and ImageMagick (currently I only use GD).

[2021-03-07 21:17] flokosiol commented on #51
🤔  Unfortunately in my test case everything works fine:

PHP Version 7.4.13
ImageMagick 7.0.10-48
Kirby 3.5.3.1 Starterkit

[2021-03-07 21:35] flokosiol commented on #55
Done. Finally.

[2021-03-07 21:35] #55 closed

[2021-03-08 07:46] medienbaecker commented on #51
Thanks for testing it yourself. Testing locally works without any issues. I think this is a server-side issue so I'll report back if I ever find a solution.

[2021-03-08 07:57] HashandSalt commented on #51
Maybe the issue is the other way round...perhaps its not PHP 7.4 thats the issue at all, but rather certain ImageMagick versions in combination with PHP 7.4. I am running ImageMagick 7.0.10-62 Q16 x86_64 2021-02-07 locally, installed via Homebrew. When i have a minute i will check which version is on my hosting.

[2021-03-08 08:13] S1SYPHOS commented on #55
Don't bother, these things take me way longer sometimes ;)

[2021-03-10 14:25] bvdputte opened #59 "Does not play nice with `translate: false`"
When I set `translate: false` for this field; it works as expected in the default language.

As soon as you're in another language, the UI seems to work, but it's not getting saved to the textfile.
I would expect the UI not work and be semi opaque as the default behaviour then is.

[2021-03-10 21:27] flokosiol commented on #59
Thanks for reporting, Bart. Should be fixed with the new version 3.0.5.

[2021-07-26 07:58] HashandSalt opened #60 "WebP Support"
Are there any plans to update the plugin to support the native WebP and AVIF support in Kirby 3.6?

[2021-07-26 09:01] flokosiol commented on #60
Yes. So far, I didn't have the time to check out 3.6 but I will definitely do so. Since the plugin only calculates coordinates and manipulates GD and IM cropping, it hopefully works out of the box or only needs minor modification.

[2021-07-26 09:27] HashandSalt commented on #60
Great :)

I think it will need a small modification as you now tell srcset which filetypes you would like:

[code]

[2021-08-25 17:52] codebeauty opened #61 "[Question] Is the support for Kirby Block previews planned"
I'm currently trying out your package and it looks really good. One challenge I found is to give the user a correct preview of a Block component. The image is added into the Vue component of my panel plugin, but this image is not respecting the focus point or any size. That is comprehensible, but I wonder how can we achieve this.

Do you already think about that feature? Or did I missed thing?

Th

[2021-08-28 10:36] flokosiol commented on #61
This is a great idea. I did a quick research and found this forum post: https://forum.getkirby.com/t/image-sizes-in-block-preview/22726/2?u=flokosiol

It doesn't seem to be that easy and my spare time is extremely limited at the moment to be honest. I will keep that in mind, but don't expect a quick implementation. Sorry.

Nevertheless I'm open for PR if anyone is interested in realizing this grea

[2021-11-17 10:26] renestalder commented on #60
I'm willing to pay/donate whoever can make AVIF/WebP support on Kirby 3.6 happen on this one. I feel I got the need for this plugin for the first time, but I already optimized everything on this certain website to show AVIF and WebP.

And it would probably take me much more time to figure out how to patch this.

[2021-11-17 10:57] HashandSalt commented on #60
FocusCrop ultimatly uses the the thumb() method as far as i can see, and I can only see about 3 occorances of that in the plugin code. It's this same method that does the webP avif magic in K3.6. So i think really it just needs a small tweak to those three lines to add the extra options that generates the WebP/Avif

[2021-11-17 11:12] HashandSalt commented on #60
The good news is that this works out of the box without any mods:

[code]

[2021-11-17 13:05] renestalder commented on #60
@HashandSalt So, wait, does it now work or does it not work? I'm a bit confused.

Does it work with all the methods to generate srcsets yet?

[2021-11-17 13:10] HashandSalt commented on #60
@renestalder the focusCrop method works out of the box without any mods to the plugin. This works already because it already accepts an options arrary and passes it through to ->thumb().

The srcset feature will need a tweak as it needs to know the desired format.

[2021-11-17 17:54] HashandSalt commented on #60
@renestalder to help out @flokosiol i added support for the format option on the srcSet. I have tested this as far as I can so hopefully it will fly now, but i cant promise :) There is a pending PR for it.

[2021-11-17 21:48] flokosiol commented on #60
Thanks @HashandSalt for checking this out and for your PR as well. Highly appreciated!

But I think `focusScrset()` already supports WebP out of the box, because the the [default Kirby srcset() method](https://github.com/getkirby/kirby/blob/main/src/Cms/FileModifications.php#L130) has not been changed for 3.6 and so should `focusSrcset` neither.

I successfully tested the following code with Kirby

[2021-11-17 21:53] HashandSalt commented on #60
@flokosiol ahhhhh when i messing around with it today, i didnt think to put the format into each width array. I thought it was a seperate thing. Thats a better way, for sure.

[2021-11-17 22:08] flokosiol commented on #60
Just for the record … I saw, that I didn't create a new release after introducing the focusSrcset presets in August. Totally unrelated to this issue, but I quickly caught up on that. At leaset, we got that fixed :)

I'll close this one, but if you ran into any issues @renestalder – don't hesitate to re-open it.

And thanks again @HashandSalt for your commitment!

[2021-11-17 22:08] #60 closed

[2021-11-18 09:07] renestalder commented on #60
Awesome folks, thanks. I will get that tested.

[2021-11-22 14:06] renestalder opened #63 "focusSrcset does not update URL on focus point changes"
I tried to figure this out for a while what the problem could be, but I don't really get it.

So, I use `focusPreset(<presetName>)` to generate the fallback image for the `<img>` tag while using `focusSrcset(<presetName>)` for the `<sources>` of the picture tag.

And it looks like that when I change the focus of an image a second time, this applied to `focusPreset` but not `focusSrcset`. They are

[2021-11-29 09:52] seehat opened #64 "New Kirby 3.6 Feature to support multiple mime-types is not working with this plugin for GD."
I looked into the code and think that GdLib.php should look like this: (I added mime params and method from Core GdLib Class)

[code]

[2021-11-29 20:52] flokosiol commented on #64
Thanks @seehat!

I took the chance to update the rest of the adjustments from the original class (like the missing comments) as well. I think I can release a new version in a few days – as soon as I find the time to test everything properly.

[2021-11-29 21:10] flokosiol commented on #63
Hi @renestalder,

I tried to reproduce your issue, but for me everything works fine with Kirby 3.6 Starterkit and GD.

My `config.php` with the preset and a srcset preset looks like this:

[code]

I modified `sites/templates/album.php` to use `focusPreset()` and `focusSrcset()` like this:

[code]

As soon as I update the focus point in the panel, all urls are updated as well.
Did I miss something

[2021-11-29 21:15] flokosiol commented on #51
I close this issue. I haven't been able to reproduce the error and to all appearances there are no new findings … I hope you could fix everything on your own :)

[2021-11-29 21:15] #51 closed

[2021-11-30 08:59] renestalder commented on #63
@flokosiol Thanks a lot that you took the time to actually test it yourself. Well then, I will check further. There are several places where the issue could happen in my case: Using your plugin in another plugin, using Twig to render the results, calling the focusSrcset function in a plugin's pageMethod instead of the template directly,...

However, knowing that this can't be reproduced with the b

[2022-01-13 09:55] owzim commented on #63
I have the same issue, I am also using twig. @renestalder have you found a workaround? I am guessing clearing the media folder after page save could be a way, but that's overkill.

[2022-01-13 12:50] owzim commented on #63
@flokosiol @renestalder I found the issue. When using `focusSrcset` in conjunction with `crop: true|false` the generated filename will always be suffixed with `crop-1` or `crop-` and not with the focus coordinates like e.g. `crop-83-50`

[code]

this is the responsible line

https://github.com/flokosiol/kirby-focus/blob/a906e5f7ef4da2dc23dcb4d681f11b3c7e068ee7/src/Focus.php#L195

The `$options` ar

[2022-01-13 13:13] renestalder commented on #63
@owzim Awesome that you dig deeper into that. Does the removal of the "crop" option create the same result when the focusCrop is used? Or will there be a difference in cut depending on whether the user actually did set a focus point or not then?

I re-open this issue, assuming @flokosiol would might it to work with the crop option too.

For understanding, I've set the crop option to true on my ima

[2022-01-14 08:35] owzim commented on #63
@renestalder

From visual testing the results are the same. I think as long as the crop option is anything other than falsey, cropping will take place (within the kirby image processing functions, which are ultimately used by the focus plugin). The focus plugin generates a truthy value by adding those aforementioned coordinates. So I guess `any` focus plugin related image processing results in cro

[2022-01-16 22:09] flokosiol commented on #63
I could recreate the bug and used the fix you both mentioned. Thanks again! [Version 3.0.8](https://github.com/flokosiol/kirby-focus/releases/tag/3.0.8) has just been published.

[2022-01-16 22:09] #63 closed

[2022-01-16 22:11] flokosiol commented on #64
Sorry for the delay. The fix has just been published with [version 3.0.8](https://github.com/flokosiol/kirby-focus/releases/tag/3.0.8).

[2022-01-16 22:11] #64 closed

[2022-01-17 07:02] seehat commented on #64
Thanks @flokosiol. 👍

[2022-01-17 16:31] renestalder commented on #63
@flokosiol Thank you very much.

Seems to work with everything that is JPG, but the generated and cropped webp and avif images now don't go to the correct folders. That's weird. Will have to check if this was already the case in the previous version.

@owzim That release works in your case?

[2022-01-17 16:35] renestalder commented on #63
@flokosiol I downgraded to v3.0.7 and there, the cropping works with webp and avif, so it seems something's off with 3.0.7. But I will create a new issue for that.

[2022-01-17 16:47] renestalder opened #65 "WebP and AVIF generated images put into wrong folder in v3.0.8"
It seems like in 3.0.8, the assets for avif and webp somehow land in the wrong folder, which in my cases causes the frontend to fallback to some non-cropped and not properly sized version of the image. I had to downgrade for the moment, as it broke the website.

What I see so far, in my root folder (I have a public folder setup as described on the Kirby website), the cropped version of the avif an

[2022-01-17 16:58] flokosiol commented on #63
Damn. Seems like I should learn how to write tests. Thanks for testing, I'll check that out.

[2022-01-18 14:15] thathoff opened #66 "Kirby 3.5.x not supported in v3.0.8"
The new version does not work with Kirby 3.5.0 anymore because the `F` helper class has been moved from `Kirby\Toolkit\F` to `Kirby\Filesystem\F`. The solution is to pin the plugin to version `3.0.7`

Maybe you can add an info to the README or even include the requirement in the composer.json.

PS: Thanks for this great plugin 🚀

[2022-01-20 10:19] owzim commented on #66
Oh no! @flokosiol please make it keep the 3.5 compatibility. We have multiple 3.5 installations and cannot update for now.

[2022-01-20 14:33] flokosiol commented on #66
I'm sorry @owzim – this was not intended.

I'll try to separate this. My plan is to release a 3.0.9 with the latest fixes compatible to K3.5 and a new 3.1 with all breaking changes from K3.6. This might be the best solution, right?

[2022-02-28 17:47] hansgohr opened #67 "[Question] multiple focus fields"
I was trying to make use of your plugin to provide "info areas" on images, with some tooltip text. However once I have multiple focus fields in the file blueprint, or they're named other than "focus" (i.e. focusA, focusB) it won't work anymore. Do you maybe have a quick solution for this or would this be something bigger? :) Thank you already!!

i.e. like this:

[code]
[code]
( I also tried it wit

[2022-02-28 19:41] flokosiol commented on #67
I'm sorry, but there will be no quick fix. The main purpose of the focus plugin is to provide one single point of an image.

Please check out the amazing https://github.com/sylvainjule/kirby-annotator plugin by @sylvainjule. This might be the thing you're looking for – if I got you right.

[2022-03-01 13:49] #67 closed

[2022-03-03 09:35] squareclouds opened #68 "CSS not being loaded"
hey everyone,

i am using the latest version of both plugin and kirby (kirby 3.6.2) and the plugin is working fine, but in the panel the css is not being loaded. for the time being i copied everything from the index.css into my custom-panel.css. i am also using the autofocus plugin (which also is working fine), but i think that might be irrelevant

any idea why this is happening?

[2022-03-04 21:51] flokosiol commented on #68
I set up a fresh Kirby Starterkit (3.6.2) with the latest Focus plugin (3.0.8) and everything seems fine.

The styles are automatically included in `/media/plugins/index.css`. Could you please have a look if this file exists and if css selectors like `.kirby-focus-field .focus-box` are included? Kirby should take care of this.

<img width="1440" alt="kirby-3 6 2_focus-3 0 8" src="https://user-imag

[2022-03-04 22:08] squareclouds commented on #68
strange, right now i:

- deleted the css code from my custom panel (i had copy pasted it in there as a workaround)
- tested like that and now it worked
- removed the link to the custom panel css from the config, just to check because i had done this after installing the plugin and it didnt work, i thought maybe loading the custom css was causing the problem
- and this time it worked as well

dont

[2022-03-04 22:08] #68 closed

[2022-04-07 14:16] renestalder commented on #65
@flokosiol Are you able to reproduce it? I am currently having to pin the plugin in all websites to the 3.0.7 release as of my CI/CD automation automatically update patch versions, and therefore breaking websites with 3.0.8.

I tried to look at your code changes to get a sense of what could go wrong, but I don't exactly see how your changes lead to that result.

[2022-04-07 16:58] HashandSalt commented on #65
Seeing this too :(

[2022-04-08 21:37] flokosiol commented on #65
Thanks for the reminder. I set up a test installation (which I hopefully will extend furthermore). Could you please check out if this works for you?

https://github.com/flokosiol/kirby-focuskit

For me everything worked fine with this installation, but it's based on the plainkit (which has no public folder setup) and I couldn't get avif files to work at all. At least the generated webp files has b

[2022-04-08 21:46] flokosiol commented on #66
Sorry for the massive delay, but I was really busy the last month doing client work.

I would like to solve #65 first, bevor creating a new version 3.1 for Kirby 3.6+

[2022-04-08 21:46] HashandSalt commented on #65
I am not getting the srcset images at all with that.

![image](https://user-images.githubusercontent.com/28439755/162536264-b9ae5657-ad53-4eb8-b600-8a97ed6941db.png)

In my test i used the Starter kit and switched the album.php template to use the plugin.

[2022-04-08 21:48] HashandSalt commented on #65
Like this:

[code]

[2022-04-08 21:51] HashandSalt commented on #65
With that i get i get the thumbs in the webroot with names like

[code]

and only Avifs... no webps... i think it uses the first thing in the source list and ignores the rest.

[2022-04-09 05:08] flokosiol commented on #65
Thanks for the quick reply.

Maybe it's an GD vs. ImageMagick thing. I used **GD version 2.3.3** for my tests and just learned that it doesn't support AVIF at all until PHP 8.1.

I will try to get IM up and running and test it again. What do you use?

[2022-04-09 14:40] lukasbestle commented on #65
So does this only happen with ImageMagick or also with GDLib? If only with ImageMagick, I suspect that something could be off with the command line arguments.

[2022-04-09 14:54] renestalder commented on #65
I mean, I never tried with GD. To my knowledge, or that's what I read when Kirby added support for it is, that only ImageMagick supports AVIF. That said, I always used ImageMagick then. But for sure, the issue doesn't apply when "Kirby Focus" isn't used.

[2022-04-09 19:36] HashandSalt commented on #65
Just to confirm, im using IM as the image driver.

[2022-04-09 19:49] HashandSalt commented on #65
Oh and i discovered that Kirby generates on access and on browser support. If you knock out the avif line so you just have source tags for webp and jpg, you will get webps. Adjust the browsers window size and you get the other sizes too.

[2022-04-09 20:02] lukasbestle commented on #65
I feel like the issue could be coming from these lines:

https://github.com/flokosiol/kirby-focus/blob/96177849a70fdca2ec7b36028f8d9bcaea3393f6/src/Focus/ImageMagick.php#L220-L222

It would simultaneously explain the images being stored in the root and also the double extension.

@flokosiol I'd also recommend using `escapeshellarg()` for the dynamic arguments for added security and reliability. We

[2022-04-10 08:51] flokosiol commented on #65
That's what I thought, too. The image driver need to be in sync with Kirby core – with a few additional focus specific lines of code. I'm pretty sure this can be fixed with a re-sync of the IM driver.

I'll have a look at this. Thanks for your investigation and your patience.

[2022-04-11 12:31] renestalder commented on #65
I mean, you could watch composer dependencies (pointing to the Kirby dev branch directly) with Dependabot or Renovate and automatically test those in GitHub Actions or with Docker images. At least, that's how my setup is with websites: Checking for new dependencies with Renovate every night, then automatically update those dependencies on a branch and make docker builds to test them. Probably kind

[2022-04-11 12:41] HashandSalt commented on #65
@flokosiol ok so some progress with your tweaked driver - GD is working fine, with IM the images are now ending up in the media folder BUT no cropping is happening.

![image](https://user-images.githubusercontent.com/28439755/162741199-7e06e65f-dcdb-4516-8a2d-d0cc528f7410.png)

[2022-04-11 14:13] lukasbestle commented on #65
@flokosiol Since you don't extend our core drivers but the general Darkroom class, your drivers don't need to be perfectly in sync with ours. If there were any breaking changes for plugin devs, we would communicate that in the release notes.

[2022-04-11 14:32] flokosiol commented on #65
@HashandSalt Thanks for testing. Obviously, changing code blindly is not the best option. I will install IM on my machine and test it propperly 😉

@lukasbestle Thanks for the info!

[2022-04-14 21:09] flokosiol commented on #65
Hey folks. I think I fixed it for the https://github.com/flokosiol/kirby-focuskit/
Would be awesome if someone could confirm this. Afterwards I would update the plugin and publish it as 3.1.0 here.

Thanks for your patience!

[2022-04-15 08:39] HashandSalt commented on #65
@flokosiol Awsome :) Just tested it and everything seems good now on IM

![image](https://user-images.githubusercontent.com/28439755/163547753-053627b4-d3f2-4695-9be6-28fe5c3ab617.png)

[2022-04-15 17:45] flokosiol commented on #65
Thanks a lot for testing! Unfortunately the grayscale version does not work yet. I totally missed that, too.

Nevertheless the main work is done and I can release 3.1.0 for K3.6+ soon. 👍

[2022-04-17 06:10] flokosiol commented on #66
Hey folks, could you please check if the latest version of the new `kirby-3.5` branch works for you?

https://github.com/flokosiol/kirby-focus/tree/kirby-3.5

I reverted the GD and IM Darkroom classes to the latest Kirby 3.5 version but tried to include the latest fix of #63 as well. It was a bit confusing to be honest. 😄 If everything is fine, I would release a new Focus version 3.0.9 for Kirby 3

[2022-04-19 06:54] thathoff commented on #66
Thank you. It seems to work fine!

[2022-04-19 07:36] flokosiol commented on #66
Great, thanks for the quick reply.

[2022-04-19 08:21] flokosiol commented on #66
I just released [3.0.9](https://github.com/flokosiol/kirby-focus/releases/tag/3.0.9) and hope I configured the version numbers and dependencies correctly.

[2022-04-19 08:21] #66 closed

[2022-04-19 08:22] flokosiol commented on #65
I just released [3.1.0](https://github.com/flokosiol/kirby-focus/releases/tag/3.1.0) and hope I configured the version numbers and dependencies correctly.

[2022-04-19 08:22] #65 closed

[2022-04-22 15:01] renestalder commented on #65
Can those people that tested this confirm, that the AVIF file is really an AVIF file and not just a renamed JPG? I just checked the new version, set the focus point on an image, used by overcomplicated Twig macros to render it and checked with Google Lighthouse. The performance stats gave me a warning that I should use next gen image formats. The AVIF file triggers that warning. When I download th

[2022-04-26 19:37] flokosiol commented on #65
I added an AVIF test case to the FocusKit Test Setup and updated to the latest versions of Kirby and Focus.
https://github.com/flokosiol/kirby-focuskit

For me everything seems to be fine with the generated AVIF files. Strange. @renestalder

[2022-04-29 12:14] renestalder commented on #65
@flokosiol Thanks a lot for taking the time for checking. After your check. I pushed the code where this happens to a remote server and there it worked flawlessly, so I suppose there is something broken with my local docker images.

[2022-04-29 19:17] flokosiol commented on #65
Alright. Thanks a lot for the info!